@media (max-width: 27.95em) { /* https://github.com/jquery/jquery-mobile/issues/7337 */
  .ui-field-contain .ui-controlgroup-horizontal .ui-controlgroup-controls {
    display: block;
  }
}

.ui-slider-track.ui-mini { /* https://github.com/jquery/jquery-mobile/issues/7821 */
  margin: 0 15px 0 68px;
}
div.ui-slider-switch.ui-mini {
  margin: .5em 0;
}

/* fix for mini inline multiple select: https://github.com/jquery/jquery-mobile/issues/7918 */
.ui-select.ui-mini .ui-btn-icon-right .ui-li-count {
  right: 2.6em;
}

.ui-checkbox .ui-btn:empty, .ui-radio .ui-btn:empty { /* https://github.com/jquery/jquery-mobile/issues/8314 */
  min-height: 1em;
  padding-right: 0;  
}

/* https://github.com/jquery/jquery-mobile/issues/8527 */
/* When issue is fixed, move jqm4gwt-icon rules to jqm4gwt.css file */
.ui-nodisc-icon.ui-btn:after,
.ui-nodisc-icon .ui-btn:after,
.ui-nodisc-icon.jqm4gwt-icon:after,
.ui-nodisc-icon .jqm4gwt-icon:after {
  -webkit-border-radius: 0;
  border-radius: 0;
}

.ui-flipswitch .ui-btn.ui-flipswitch-on:hover {
  color: inherit;
  text-shadow: inherit;
}
