.jqm4gwt-image-link-a[data-role='button'].ui-btn {
  padding: 3px 3px 0px 3px !important; /* bottom 0px because there is excessive space in the bottom */
}
.jqm4gwt-image-link-img[data-resize-priority='horizontal'] {
  max-width: 100%;
  height: auto;
  width: auto\9; /*ie8*/
}
.jqm4gwt-image-link-img[data-resize-priority='vertical'] {
  max-height: 100%;
  width: auto;
  height: auto\9; /*ie8*/
}

.ui-loader-background {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  margin: 0;
  background: rgba(0, 0, 0, 0.3);
  display: none;
  position: fixed;
  z-index: 100;
}
.ui-loading .ui-loader-background {
  display: block;
}


.ui-dialog-background {
  opacity: 0.5;
  display: block !important;
  -webkit-transition: opacity 0.5s ease-in;
     -moz-transition: opacity 0.5s ease-in;
       -o-transition: opacity 0.5s ease-in;
          transition: opacity 0.5s ease-in;
}
 
.ui-dialog-background.pop.in {
  opacity: 1;
  -webkit-transition: opacity 0.5s ease-in;
     -moz-transition: opacity 0.5s ease-in;
       -o-transition: opacity 0.5s ease-in;
          transition: opacity 0.5s ease-in;
}
 
.jqm4gwt-dialog-transparent.ui-dialog {
  min-height: 100% !important;
  background: transparent !important;
  
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  margin: 0;
  position: fixed;
  z-index: 100;
}

.jqm4gwt-non-editable input {
  filter: Alpha(Opacity=67);
  opacity: .67;
  zoom: 1;
}

.jqm4gwt-scrollable-page-content {
  position: relative;
}
.jqm4gwt-scrollable-main-stage {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.jqm4gwt-listitem-icon { 
  max-height: 16px !important;
  max-width: 16px !important;
  left: 10px !important;
  top: .9em !important;
  margin-right: 10px !important;
}

.jqm4gwt-listitem a.ui-btn > .ui-checkbox {
  margin: 0;
}
